/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');


/* Common Styles */
*{
    margin: 0;
    padding: 0;
}
body{

    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif; 
    font-size: 1.125rem;
    max-width: 1920px;
    margin: 0 auto;
    
}

/* CSS Var */
:root{
    --PrimaryColor: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --SecondaryColor: #0B0223;
}

h2{
    font-size: 3rem;
}

/* Section Margin Start */
nav{ 
    margin: 3% 10%;
}

.banner-section{
    margin: 3% 10%;
}
/* Section Margin End */


/*=========== Nav Styles========== */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 10%;

}

nav ul{
    display: flex;    
    align-items: center;
    list-style: none;

}

nav ul li{
    margin-right: 2rem;
}

nav ul li a{
    text-decoration: none;
    font-size: 1.125rem ;
    font-weight: 500;
}

nav ul li i{
    font-size: 1.125rem ;
    font-weight: 500;
    margin-left: 10px;    
}



.nav-logo{
    width: 30%;
    
}

.nav-logo p{
    font-size: 2.8125rem ;
    font-weight: 700;
}

.g-color{
    color: #FF42A5 ;
}

.nav-button{
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
width: 16.375rem;
padding: 1rem;
border: 0;
    
}

.tiktok-color{
    color: black;
}

.yt-color{
    color: red;
}


/*=========================== Responsive Design======================== */
/*=========================== Responsive Design======================== */
/*=========================== Responsive Design======================== */
/*=========================== Responsive Design======================== */

@media screen and (max-width: 576px) {
    nav{
       flex-direction: column;
       justify-content: center;
    
    }
    
    nav ul{
        flex-direction: column;
        align-items: center;
    
    }

    nav ul li{
        margin-right: 0px;
        margin-bottom: 1rem;
    }

    .nav-logo{
        width: 0%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 1rem;
        
    }

    
}

@media screen and (min-width: 576px ) and (max-width: 1040px) {
    nav ul li{
        margin-right: 1rem;
        
    }

    .nav-button{       
        width: 13.375rem;
        padding: 1rem;
                  
        }
     

        .nav-logo p {
            font-size: 2rem;         
        
        }

        .nav-logo img{
            width: 30%;
        }

    
}
