/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');


/* Common Styles */
*{
    margin: 0;
    padding: 0;
}
body{

    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif; 
    font-size: 1.125rem;
    color: #534C64;
    max-width: 1920px;
    margin: 0 auto;
    
}

/* CSS Var */
:root{
    --linear: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    --SecondaryColor: #0B0223;
}

h3{
    font-size: 3rem;
    color: #0B0223;
}

/* Section Margin Start */
nav{ 
    margin: 3% 150px;
}

/* .banner-section{
    margin: 3% 150px;
} */

/* Section Margin End */

.btn-primary{
    border-radius: 48px;
    background: #f948b2;
    padding: 21px 40px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    
}

.btn-primary a{
    color: white;
    text-decoration: none;
}

/* Common Styles End */



/*=========== Nav Styles========== */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

nav ul{
    display: flex;    
    align-items: center;
    list-style: none;

}

nav ul li{
    margin-left: 2rem;
}

nav ul li a{
    text-decoration: none;
    font-size: 1.125rem ;
    font-weight: 500;
}

nav ul li i{
    font-size: 1.125rem ;
    font-weight: 500;
    margin-left: 10px;    
}



.nav-logo{
    width: 30%;
    
}

.nav-logo p{
    font-size: 2.8125rem ;
    font-weight: 700;
}

.g-color{
    color: #FF42A5 ;
}

.nav-button{
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
width: 16.375rem;
padding: 1rem;
border: 0;
    
}

.tiktok-color{
    color: black;
}

.yt-color{
    color: red;
}

/* Banner Styles Start  */

.banner-section{
    
    display: flex;
    justify-content: space-between;
    
}

.banner-section-text{
    width: 60%;
    padding-left: 150px;
    padding-top: 50px;    
    background-image: url(images/creativebg14.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-section-img{
    padding-right: 150px;
}

.banner-section-text i{
    color: #F948B2;
}

.banner-section-text p{

    font-size: 1.5rem;   
}

.banner-section-text-title-two{
    
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.9375rem;
}

.banner-section-img{
    width: 40%;
}

.banner-section-img img{
    width: 100%;
    
}

.buttons{
    margin-top: 3.5rem;    
}

.btn-go{
    background-color: #4EC5F7;
}




/*=========================== Responsive Design======================== */
/*=========================== Responsive Design======================== */
/*=========================== Responsive Design======================== */
/*=========================== Responsive Design======================== */

@media screen and (max-width: 576px) {
    nav{
       flex-direction: column;
       justify-content: center;

    
    }
    
    nav ul{
        flex-direction: column;
        align-items: center;
    
    }

    nav ul li{
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    .nav-logo{
        width: 0%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 1rem;
        
    }

    .banner-section{
        flex-direction: column-reverse;
        margin: 3% 20px;
        

    }

    .banner-section-text{
        width: 100%;  
        margin-top: 3rem;    
        padding-left: 25px;
        padding-top: 35px;     
        background-image: url(images/creativebg14.png);
        background-size: contain;
        
       
    }

    h3{
        font-size: 2rem;
    }

    .banner-section-text-title-two{      
        font-size: 3rem;
    }

    .banner-section-text p {
        font-size: 0.8rem;
    }

    .banner-section-img{
        padding-right: 0px;
    }

    .banner-section-img{
        width: 100%;
    }

    .buttons{
        margin-top: 2rem ;
        margin-bottom: 6rem; 
        
    }

    .btn-primary {             
        padding: 10px 20px;
        font-size: 0.9rem;            
       
    }

    
}

@media screen and (min-width: 576px ) and (max-width: 1040px) {
    nav {
        margin: 3% 60px;
    }
    nav ul li{
        margin-left: 1rem;
        
    }

    .nav-button{       
        width: 13.375rem;
        padding: 1rem;
                  
        }
     

        .nav-logo p {
            font-size: 2rem;         
        
        }

        .nav-logo img{
            width: 30%;
        }


        .banner-section{
        
            margin: 3% 20px;          
    
        }
    
        .banner-section-text{
            width: 100%;  
            margin-top: 3rem;    
            padding-left: 40px;
            padding-top: 35px;     
            background-image: url(images/creativebg14.png);
            background-size: contain;
            
           
        }
    
        h3{
            font-size: 2rem;
        }
    
        .banner-section-text-title-two{      
            font-size: 3rem;
        }
    
        .banner-section-text p {
            font-size: 0.8rem;
        }
    
        .banner-section-img{
            padding-right: 35px;
        }
    
        .banner-section-img{
            width: 100%;
        }
    
        .buttons{
            margin-top: 2rem ;
            margin-bottom: 6rem; 
            
        }
    
        .btn-primary {             
            padding: 10px 20px;
            font-size: 0.9rem;            
           
        }
    
}
